{
    "development": {
        "port": "3000",
        "dialect": "sqlite",
        "storage": "./app/bin/database.sqlite",
        "auth": {
            "key": "yourauthsignkey"
        },
        "api": {
            "musikki": {
                "url": "https://music-api.musikki.com/v1",
                "appid": "yourappid",
                "appkey": "yourappkey"
            }
        }
    }
}
